---
import Typewriter from '../components/Typewriter.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Isaiah Solomon">
	<main
		class="mx-auto flex w-full max-w-2xl flex-1 flex-col items-center justify-center px-6"
	>
		<Typewriter client:load />
	</main>
</BaseLayout>
